.btnBox {
  margin: 10px;
  gap: 20px;
}

.btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 16px;
  background-color: rgb(87, 151, 202);
  font-size: larger;
  font-weight: 600;
}

.btn:hover {
  border: 2px solid rgb(63, 63, 63);
  background-color: rgb(47, 124, 187);
  transition: background-color 0.3s;
}
